<body>
    <nav>
        <ul>
            <li><a href='/events'>Events</a></li>
            <li><a href='/resources'>Resources</a></li>
            <li><a href='/join-wics'>Join WiCS</a></li>
            <li><a href='/'>LOGO</a></li>
            <li><a href='/our-team'>Our Team</a></li>
            <li><a href='/collaborate'>Collaborate</a></li>
        </ul>
    </nav>

</body>

<style>
    body {
        min-height: 100vh;
        
    }
</style>