<nav>
    <ul class="sidebar">
        <li><a href='/events'>Events</a></li>
        <li><a href='/resources'>Resources</a></li>
        <li><a href='/join-wics'>Join WiCS</a></li>
        <li><a href='/our-team'>Our Team</a></li>
        <li><a href='/collaborate'>Collaborate</a></li>
        <li><a href='/'>LOGO</a></li>
    </ul>
</nav>

<nav class="top-nav">
    <ul class="hideOnMobile">
        <li><a href='/events'>Events</a></li>
        <li><a href='/resources'>Resources</a></li>
        <li><a href='/join-wics'>Join WiCS</a></li>
        <li>
            <a href='/'><img src="src/assets/logo.png" alt="Logo" width="50px" height="auto"></a>
        </li>
        <li><a href='/our-team'>Our Team</a></li>
        <li><a href='/collaborate'>Collaborate</a></li>
    </ul>
</nav>


<style>
    body {
        min-height: 100vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    nav {
        background-color: #ffc0cb;
    }
    .top-nav {
        box-shadow: 0px 3px 4px rgba(80, 79, 79, 0.4);
        border-radius: 15px 15px 15px 15px;

        position: absolute;

        width: 75%;
        top: 50px;
        right: 0;
        left: 0;
        margin: auto;

    }

    nav ul {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav li {
        height: 50px;
    }
    nav a {
        height: 100%;
        padding: 0 20px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
    }
    nav a:hover {
        color: rgb(222, 42, 102);
    }

    .sidebar {
        visibility: hidden;
        /* visibility: visible; */
        position: fixed;
        z-index: 999;
        
        top: 0;
        right: 0;
        padding-top: 50px;
        height: 100vh;
        /* width: 250px; */
        /* min-width: auto; */
        
        background-color: rgba(255,192,203, 0.8);
        backdrop-filter: blur(10px);
        box-shadow: -3px 0 4px rgba(80, 79, 79, 0.4);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .sidebar li {
        width: 100%;
    }
    .sidebar a {
        color: white;
        width: 100%;
    }
    @media(max-width: 1080px) {
        .hideonMobile {
            visibility: hidden;
            /* display: none; */
        }
    }
</style>

<!-- <script>
    function showSideBar() {
        const sidebar = document.querySelector('.siderbar');
        sidebar.style.visibility = 'visible';
    }
    function hideSideBar() {
        const sidebar = document.querySelector('.sidebar');
        sidebar.style.visibility = 'hidden';
    }
</script> -->